/*  In order to commit use git push -u origin master */

#l1read {
    color: steelblue;
}

#l2read {
    color: steelblue;
}

#ds1read {
    color: steelblue;
}

#ds2read {
    color: steelblue;
}

.container {
    margin-top: 2px;
}

h2 {
    margin-top: 16px;
}

.card-img-top {
    width: 255px;
    height: 380px;
   /* object-fit: cover; */
}

.col-4 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card {
    border-style: none;
}

.card-body {
    border-bottom: 4px dotted lightsteelblue;
}

/* The style of the blog form taken by Trivia exercise */

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

input[type="date"] {
    line-height: 1.8;
    width: 25%;
}

input[type="date"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}